<h1>All Da Cookies</h1>
<div class="row">
  <% @active_items.each do |item| %>
    <div class="col-sm-4 items" data-categories="<%= item.categories.map(&:display_name).join(":") %>">
      <div class="image-background">
        <%= image_tag item.image.url, class: "menu-image" %>
      </div>
      <br/>
      <%= link_to item.display_name, menu_item_path(item), class: "item-title" %><br/>
      <%= button_to "Add to Cart", cart_items_path(item: item), class: "btn btn-default" %>
      <div class="btn-group btn-group-xs" role="group">
        <% item.categories.each do |item_category| %>
          <%= link_to item_category.display_name, menu_category_path(item_category), class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if current_user.try(:role) == "admin" %>
    <%= render 'partials/retired_items' %>
  <% end %>
</div>
