<h1>Order <%= @order.id %> Information</h1>

<h4>Order on <%= format_time(@order.created_at) %></h4>
<% @order.items.each do |item| %>
    <!-- Need to change this to link to the individual item eventually -->
<p><%= @order.quantity_of_item(item, @order) %>
<%= link_to item.name, menu_item_path(item) %>:
<%= number_to_currency(@order.line_item_price(item, @order)) %></p>
<% end %>
<p>Total: <%= number_to_currency(@order.total_price) %></p>
<p>Status: <%= @order.status %></p>
<% if @order.status == "cancelled" || @order.status == "completed" %>
<p><%= "Order was " + @order.status + " at " + format_time(@order.updated_at) %></p>
<% end %>