<h1>Your Cart</h1>

<% @cart.display_items.each do |item,quantity| %>
  <div class="col-sm-4" id="checkout-item">
    <%= image_tag item.image.url, class: "menu-image image-background"%><br/>
    <%= link_to item.display_name, menu_item_path(item) %><br>
    Quantity: <%= quantity %><br>
    Price Per Unit: <%= number_to_currency(item.price) %><br>
    Total For This Item: <%= number_to_currency(item.price * quantity) %></p>
    <div class="btn-group">
      <%= link_to cart_items_path(item: item), method: :post, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
      <%= link_to cart_item_path(id: item.id), method: :patch, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      <% end %>
    </div>
    <%= link_to "Remove All", cart_item_path(id: item.id), method: :delete, class: "btn btn-default" %>
  </div>
<% end %>

<div class="col-xs-12" id="checkout-total">
  <p>Total Items: <%= @cart.count_total %></p>
  <p>Total Price: <%= number_to_currency(@cart.total_price) %></p>  </p>
  <%= button_to "Checkout", checkout_path, method: :post %>
</div>
