<%= form_for [:menu, @item], :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label "Category:" %>
    <% Category.all.each do |category| %>
      <%= check_box_tag 'category_ids[]', category.id, @item.categories.include?(category)%>
      <%= category.name %>
    <% end %>
  </p>
  <p>
  <%= f.label "Status: ", class: "status-label" %>
  <%= f.select(:status, options_for_select([["active", "active"], ["retired", "retired"]]), selected: @item.status) %>
  </p>
  <p>
  <%= f.label :select_image %><br />
  <%= f.file_field :image %>
  </p>
  <%= f.submit "Submit", class: 'btn btn-default'%>
<% end %>
